{% extends "template.html" %}
{% block content %}
    <h2>Welcome to CSCB20</h2>
    <p>This course provides a hands-on introduction to databases and web application development. You will gain both theoretical knowledge and practical skills to build a solid foundation in these areas.</p>
    <div class="list">
        <h4>What you will learn!</h4>
        <p>Databases:</p>
        <div class="list">
            <li>Key terminology and practical applications</li>
            <li>Creating, querying, and updating databases</li>
            <li>Designing databases using the entity-relationship model</li>
        </div>
        <div class="list">
        <p>Web Development:</p>
        </div>
        <div class="list">
            <li>Building static and interactive web documents</li>
            <li>Setting up web servers and generating dynamic, server-side content</li>
            <li>Developing web applications integrated with databases</li>
        </div>
    </div>
                
    <div class="calendar">
        <h2>Course Calendar</h2>
        <div class="calendar-grid">
            <div class="day-name">Sun</div>
            <div class="day-name">Mon</div>
            <div class="day-name">Tue</div>
            <div class="day-name">Wed</div>
            <div class="day-name">Thu</div>
            <div class="day-name">Fri</div>
            <div class="day-name">Sat</div>
                
            <div class="day"></div>
            <div class="day">1</div>
            <div class="day">2</div>
            <div class="day">3</div>
            <div class="day">4</div>
            <div class="day">5</div>
            <div class="day">6</div>
                
            <div class="day">7</div>
            <div class="day">8</div>
            <div class="day">9</div>
            <div class="day">10</div>
            <div class="day">11</div>
            <div class="day">12</div>
            <div class="day">13</div>
                
            <div class="day">14</div>
            <div class="day">15</div>
            <div class="day">16</div>
            <div class="day">17</div>
            <div class="day">18</div>
            <div class="day">19</div>
            <div class="day">20</div>
                
            <div class="day">21</div>
            <div class="day">22</div>
            <div class="day">23</div>
            <div class="day">24</div>
            <div class="day">25</div>
            <div class="day">26</div>
            <div class="day">27</div>
                
            <div class="day">28</div>
            <div class="day">29</div>
            <div class="day">30</div>
            <div class="day">31</div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
        </div>
    </div>

    <div class="list">
    <h2>Instructor infomation</h2>
    <li>Professor: Purva Gawde</li>
    <li>email: purva.gawde@utoronto.ca</li>
    <li>office: IA 4056</li>
    <li>lectures: Friday 9:00am-11:00am in SW319</li>
    <li>office hours: Monday 11:00am-12:00pm</li>

    </div>

    {% endblock %}
          