{% extends "template.html" %}
{% set pagename = "Register" %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="text" name="FirstName" placeholder="First Name" required>
    <input type="text" name="LastName" placeholder="Last Name" >
    <input type="email" name="email" placeholder="Email" required>
    <select name="role">
        <option value="student">Student</option>
        <option value="instructor">Instructor</option>
    </select>
    <button type="submit">Register</button>
</form>
{% endblock %}
